/*ion-content {
    --background: 
    linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
    url('/assets/background/cloudy.jfif') 0 0/100% 100% no-repeat;
}
ion-label {
    color: white;
}
ion-col {
    border: solid 1px #ddd;
    padding: 20px;
    color: white;
    text-align: center;
  }
  */